.example-spacer {
    flex: 1 1 auto;
}

.example-spacer2 {
    flex: 0 1 auto;
}

.custom-toolbar {
    display: flex;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}